/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  font-family: "Tektur", cursive;
  box-sizing: border-box;
}

.users {
  background: linear-gradient(to right, #f12711, #f5af19);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.users > h1 {
  font-family: "Lilita One", cursive;
  font-size: 45px;
  line-height: 65px;
}

.users label {
  font-size: 40px;
  line-height: 65px;
  padding: 3px;
}

.users input {
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 35px;
}

.users #submit {
  font-size: 30px;
  background: linear-gradient(to right, #c31432, #240b36);
  margin-top: 12px;
  border-radius: 7px;
  border: none;
  width: 150px;
  cursor: pointer;
  color: wheat;
}

.main-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #654ea3, #eaafc8);
}

.main-container > .message {
  color: white;
  line-height: 50px;
  font-size: 25px;
}

.main-container > h1 {
  font-family: "Lilita One", cursive;
  line-height: 55px;
  color: wheat;
}
.game-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.cell {
  font-size: 40px;
}

.game-container div {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(241, 142, 190, 0.877);
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 12px;
}

.action-buttons {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

#reset {
  margin-top: 12px;
  font-size: 30px;
  background: linear-gradient(to right, #840ebf, #240b36);
  margin-top: 12px;
  border-radius: 7px;
  border: none;
  width: 150px;
  cursor: pointer;
  color: wheat;
}

#reload {
  margin-top: 12px;
  font-size: 30px;
  background: linear-gradient(to right, #3c87e9, #240b36);
  margin-top: 12px;
  border-radius: 7px;
  border: none;
  width: 150px;
  cursor: pointer;
  color: wheat;
}

@media screen and (max-width: 512px) {
  .users input {
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 19px;
  }

  .game-container div {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(241, 142, 190, 0.877);
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 12px;
  }

  .main-container > .message {
    color: white;
    line-height: 50px;
    font-size: 25px;
  }
}
